
<div class="container-fluid">
    <div class="cajon">
      <div class="titulo">
        <h5 class="gestiones">
          Administración De Empleados
        </h5>
      </div>
  
      <div style="text-align: right; margin: 0;">
        <div style="text-align: right; margin: 0;">
          <a nz-button nzType="primary" routerLink="/administracion/nuevoCargo">
            <i class="fas fa-briefcase"  style="margin-right: 5px;"></i>Agregar Empleado
          </a>
        </div>
      </div>
  
      <div class="table">
       <!-- TODO: AQUI VA LA TABLA -->
        
  
      </div>
    </div>
  </div>